{# @var object \AppBundle\Entity\Country #}
<h4>
    <span class="flag flag-{{ object.iso|lower }}"></span> {{ object.name }} <small class="text-muted">({{ object.iso }})</small>
</h4>
<div class="label label-info" >
    Phone Code: {{ object.phoneCode }}
</div>

