{% extends 'layout.html.twig' %}

{% block title %}Home{% endblock %}

{% block headline %}
    <i class="fa fa-rocket"></i> YnloFramework
{% endblock %}

{% block content %}
    <h1>Welcome</h1>

    <p>
        YnloFramework is a set of Symfony bundles and components for fast development and/or scaffolding of Symfony applications.
    </p>
    <p>
        Makes building web applications simpler, faster, while requiring less code.
        A modern PHP 5.6+ framework offering a flexible database access layer and a
        powerful scaffolding system that makes building both small and complex systems simpler and easier.
    </p>
    <div class="alert alert-danger">
       <i class="fa fa-warning"></i> <b>ALPHA VERSION:</b> This is a alpha version with work in progress.
    </div>

    <div class="row">
        <div class="col-md-4 col-sm-6">
            <h4><i class="fa fa-puzzle-piece" aria-hidden="true"></i> Multiple components</h4>
            In a single collection, YnloFramework provide many bundles and components to develop fastest.
        </div>
        <div class="col-md-4 col-sm-6">
            <h4><i class="fa fa-bolt" aria-hidden="true"></i> Javascript plugins integrated</h4>
            Auto compile & add required javascript plugins in your assets.
        </div>
        <div class="col-md-4 col-sm-6">
            <h4><i class="fa fa-sliders" aria-hidden="true"></i> Customizable</h4>
            A lot of settings to customize or override any feature.
        </div>
        <div class="col-md-4 col-sm-6">
            <h4><i class="fa fa-bold" aria-hidden="true"></i> Bootstrap Themes</h4>
            Compatible with bootstrap and ready to add your custom theme.
        </div>
        <div class="col-md-4 col-sm-6">
            <h4><i class="fa fa-magic" aria-hidden="true"></i> Easy to use</h4>
            Makes building web applications simpler, faster, while requiring less code.
        </div>
        <div class="col-md-4 col-sm-6">
            <h4><i class="fa fa-eye" aria-hidden="true"></i> Fully Documented</h4>
            Documentation of all bundles and components can see <a href="https://github.com/ynloultratech/framework/blob/master/docs/index.md">
                 here <i class="fa fa-book"></i>
            </a>
        </div>
    </div>
{% endblock %}