<div class="col-md-offset-4">
    <div class="bs-callout bs-callout-danger ">
        <h4>Embedded template fragment</h4>
        <p>This part is like another field but use a custom template in order to render this templates instead of field content. Very helpful for instructions, thumbnails, scripts, etc. without the need of override the entire form.</p>
    </div>
</div>